@charset "utf-8";

body {
  display: table;
  width: 620px;
  border: 1px solid;
}

h1 {
  padding-left: 5px;
}


h2 {
  display: table-cell;
  vertical-align: middle;
  padding-left: 7rem;
}

section {
  display: table-row;
}

section p {
  display: table;
  margin-left: 1rem;
  margin-right: 1rem;

}

footer {
  padding-left: 5px;
}

