:root {
  --article-bg-transparency: 0.5;
}

/* Setup */
.example > article {
  font-weight: 700;
  text-align: center;
}

.example > article > * {
  background-color: rgba(var(--article-elem-color), var(--article-bg-transparency));
  color: #fff;
  padding: 1rem;
}

.example > article > * * {
  margin: 0;
  background-color: inherit;
  line-height: 1;
  padding: 1rem;
}

.example > article > header {
  --article-elem-color: 63, 63, 191;
}

.example > article > header > h2 {
  font-size: 1rem;
}

.example > article > .content {
  --article-elem-color: 63, 191, 63;
}

.example > article > footer {
  --article-elem-color: 191, 63, 63;
}

/* 1 */
[data-example="1"] {

}

[data-example="1"] > article {
  border: 1rem black solid;
}

[data-example="1"] .content {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

[data-example="1"] h2 {
  margin-block-start: auto;
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
  margin-block-end: auto;
}

[data-example="1"] .content p {
  margin-block-start: auto;
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
  margin-block-end: auto;
}

[data-example="1"] footer p {
  margin-block-start: auto;
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
  margin-block-end: auto;
}

/* 2 */
[data-example="2"] > article {
  display: grid;
  grid-gap: 1rem;
  border: black solid;
  border-width: 1rem;
}

[data-example="2"] h2 {
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
}

[data-example="2"] .content p {
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
}

[data-example="2"] footer p {
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
}
/* 3 */
[data-example="3"] article {
  display: flex;
  flex-direction: column;
}
[data-example="3"] {

}
[data-example="3"] article {
  border: 1rem black solid;
}

[data-example="3"] header {
  margin-block-end: 1rem;
}

[data-example="3"] .content {
  margin-block-end: 1rem;
}



