/*
#c_and_i .row a                 { background-color: hsla(200deg, 100%, 50%, 0.1);}
#c_and_i .row a + a             { background-color: hsla(200deg, 100%, 50%, 0.2);}
#c_and_i .row a + a + a         { background-color: hsla(200deg, 100%, 50%, 0.3);}
#c_and_i .row a + a + a + a     { background-color: hsla(200deg, 100%, 50%, 0.4);}
#c_and_i .row a + a + a + a + a { background-color: hsla(200deg, 100%, 50%, 0.5);}
*/
/*
  … etc …

  This would get crazy if I had to write out each and every anchor within each row, setting the unique `hsla()` per anchor.
*/

:root {
  --base-unit: 36deg;
  --base-opacity: 0.1;
}

.row a {
  background-color: hsla(var(--hue), 100%, 50%, var(--alpha));
}

.row a:nth-of-type(1) {
  --alpha: calc(var(--base-opacity) * 1);
}

.row a:nth-of-type(2) {
  --alpha: calc(var(--base-opacity) * 2);
  }

.row a:nth-of-type(3) {
  --alpha: calc(var(--base-opacity) * 3);
}
.row a:nth-of-type(4) {
  --alpha: calc(var(--base-opacity) * 4);
}
.row a:nth-of-type(5) {
  --alpha: calc(var(--base-opacity) * 5);
}
.row a:nth-of-type(6) {
  --alpha: calc(var(--base-opacity) * 6);
}
.row a:nth-of-type(7) {
  --alpha: calc(var(--base-opacity) * 7);
}
.row a:nth-of-type(8) {
  --alpha: calc(var(--base-opacity) * 8);
}
.row a:nth-of-type(9) {
  --alpha: calc(var(--base-opacity) * 9);
}
.row a:nth-of-type(10) {
  --alpha: calc(var(--base-opacity) * 10);
}



.row:nth-of-type(1) {
  --hue: calc(var(--base-unit) * 1);
}

.row:nth-of-type(2) {
  --hue: calc(var(--base-unit) * 2);
  }

.row:nth-of-type(3) {
  --hue: calc(var(--base-unit) * 3);
}
.row:nth-of-type(4) {
  --hue: calc(var(--base-unit) * 4);
}
.row:nth-of-type(5) {
  --hue: calc(var(--base-unit) * 5);
}
.row:nth-of-type(6) {
  --hue: calc(var(--base-unit) * 6);
}
.row:nth-of-type(7) {
  --hue: calc(var(--base-unit) * 7);
}
.row:nth-of-type(8) {
  --hue: calc(var(--base-unit) * 8);
}
.row:nth-of-type(9) {
  --hue: calc(var(--base-unit) * 9);
}
.row:nth-of-type(10) {
  --hue: calc(var(--base-unit) * 10);
}



