
.a11y {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.progress_indicator {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.progress_indicator li {
  counter-increment: step_number;
}



/*
  1. Back links - has an anchore
  2. Current step - has bold
  3. Futue steps - spans
*/

.progress_indicator li > * {
  display: block;
  padding: 1rem;
  color: #000;
  padding-inline-start: 3rem;
  position: relative;
}

.progress_indicator li > *::before {
  content: counter(step_number);
  position: absolute;
  left: 1rem;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.75rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 50%;
  display: block;

}

/* Back links or previous steps */
.progress_indicator a {
  text-decoration: none;
}

.progress_indicator a::before {
  background-color:green;
  color: white;
}

/* Curent step */
.progress_indicator b {

}

.progress_indicator b::before {
  background-color: yellow;
  color: #000;
}

/* Future step */
.progress_indicator span {
  opacity: 0.75;
}

.progress_indicator span::before {
  background-color: red;
  color: gold;
}

.progress_indicator::after {
  content: '';
  width: 0.25rem;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1.75rem;
  background-color: #ccc;
  margin-block-start: -0.125rem;
  z-index: -1;
}
