:root {
  --spoke-arc: 45deg;
  --spoke-width: 6px;
  --tyre-thickness: 10px;
  --wheel-diameter: 100;
  --wheel-diameter-pixels: calc(var(--wheel-diameter) * 1px);
  --max-scene-width: 1000;
  --pi: 22 / 7;
  --circumferance: calc(var(--pi) * var(--wheel-diameter));
  --max-travel-distance: calc(var(max-scene-width));
  --rotations: calc(var(--max-travel-distance) / var(--circumferance));
  --rotation-in-degrees: calc(var(--rotations) * 360deg);

}

.scene {
  background-color: skyblue;
  border-bottom: 5px solid green;
  height: var(--wheel-diameter-pixels);
  position: relative;
  overflow: hidden;
  max-width: 1000px;
}

/*
  When the user hovers over the scene,
  rotate the wheel and move it off canvas to the right.
*/
.scene:hover .wheel {
  left: 100%;
  transition-duration: 5s;
  transform: rotate(1082deg);
}


/* Wheel setup */
.wheel {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: var(--tyre-thickness) solid #555;
  box-sizing: border-box;
  height: var(--wheel-diameter-pixels);
  width: var(--wheel-diameter-pixels);
  right: 100%;
  transition-property: transform, left;
  transition-duration: 5s;
  transition-timing-function: ease-in;
}

.spoke {
  position: absolute;
  top: 0;
  left: 50%;
  margin-inline-start: calc(var(--spoke-width) / -2);
  bottom: 0;
  width: var(--spoke-width);
  background-color: #888;
}

.spoke:nth-of-type(2) { transform: rotate(45deg); }
.spoke:nth-of-type(3) { transform: rotate(90deg); }
.spoke:nth-of-type(4) { transform: rotate(135deg); }
