@charset "utf-8";


footer {
  text-align: center;
  padding-block-start: 7.5rem;
  padding-block-end: 7.5rem;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li {
  display: inline;
}

footer li:not(:first-child):not(:last-child){
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}
