@charset "utf-8";

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.5), rgba(0, 0, 0, 0.5)), url('../images/bg_desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
  width: 800px;
  height: 320px;
  color: white;
}

h1 a {
  color: white;
  text-decoration: none;

}

div a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
  padding-block-start: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.lost {
  text-align: center;
  color: white;
  margin-top: 6rem;

}

.links {
  text-align: right;
  margin-top: -4rem;
}

h1 {
  margin-top: 0;
  text-align: left;
  padding-block-start: 1rem;
}

h2 {
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}




