
li {
  list-style-type: none;
}

.heartbeats {
  border-top: grey solid thin;
}

main {
  border-bottom: rgba(0, 0, 0,0.4) solid thin;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

h3 {
 padding: 1rem 1rem 1rem;
}

h3 a {
  color: black;
  text-decoration: none;
}

.problems h3 {
  font: bold;
}

.problems > h3 p {
 padding: 1rem 1rem 1rem;
}
