
.heartbeats {
  border-top: grey solid thin;
}

main {
  border-bottom: rgba(0, 0, 0,0.4) solid thin;
}

.problems h3 {
  font: bold;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
 font-weight: 900;
 padding: 1rem 1rem 1rem;
}

h3 a {
  color: black;
  text-decoration: none;
}

.problems > h3 p {
 padding: 1rem 1rem 1rem;
}
