@charset "utf-8";

/* Defualt value
  width: auto;
  height: auto;
  min-width: auto;
  max-width: none;
  min-height: 0;
  max-height: 100%
*/


p {
  display: auto;
  min-width: 16rem;
  max-width: 9rem;
  height: 16rem;
  background-color: red;
  color: white;
  border: 1px solid black;
}

/*
  These default value don't change if the element is a block-like or an inline-like element.
*/

/*
  If a min-width value is greater than width value, min-width value will be applied.
*/

/*
  If a max-width value is less than width value, max-width will be applied.
*/

/*
  If a min-width value is greater than a max-width value, min-width value will be applied.
*/


table {
  table-layout: fixed;
  width: 2px;
  border: 1px solid red;
}

td {
  border: 1px solid blue;
}

/*
  When `width`s are applied to table cells, and the content inside these cells doesn't fit, the content will overflow.
*/

/*
  A percentage represents a fraction of some other value, for example 50% . Percentage values are always relative to another quantity, for example an element's length is relative to its parent element's length.(mdn)
*/

div {
  min-width: 20rem;
  max-width: 80vw;
}

/*
  All the significant or interesting characteristics of this ruleset?
  max-width: 80vw, max-width of the viewport set on the div
*/

/*
  The implied width of a div is the margin.
*/







