/* Styles for all mediums go here */
@media all {

}

/* Only styles for printers please */
@media print {

}

a::after {
  content: " (" attr(href) " ) ";
  word-break: break-word;
}

abbr::after {
  content: " ( " attr(title) ")";
}

blockquote::after {
  content: " ( " attr(cite) " ) ";
}
/*
 pseudo element doesn't work in void element for example:
*/
img::after {
  content: "(" attr(alt) ")";
}
