body > header {
  color: #fff;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

body > header h1 {
  margin: 0;
  font-size: 2rem;
}

body > header a {
  color: inherit;
  text-decoration: none;
}

body header nav ul  {
  justify-content: flex-end;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;

}

body header nav ul li {
  margin-right: 10px;
  margin-top: -1.5rem;
}

body header nav ul {
  margin-right: 3rem;
}

body header nav ul {
  display: flex;
  flex-wrap: wrap;
}

body header h1 {
  margin-left: 3rem;
}

body header nav {
  flex-wrap: wrap;
}

