main > header {
  background-image:
    linear-gradient(rgba(0,0,0,.4) 0%, rgba(0,0,0,.4) 100%),
    url(../images/bg_desktop.jpg);
  background-size:
    cover,
    cover;
  background-position:
    50% 50%,
    50% 50%;
  color: #fff;
  padding: 4rem 0;
  box-sizing: border-box;
  min-height: 30rem;
  margin-block-start: -4rem;
}

main > header > h2 {
  font-size: 4rem;
  margin: 0;
}

main > header > p {
  margin: 0;
}

main {
  margin-top: -3rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 2;
}

main header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


main header h2 {
  display: flex;
  justify-content: center;
}

main header h2 ~ p {
  display: flex;
  justify-content: center;
}

main > header ~ article {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 3rem;
}
