@charset "utf-8";

.dory {
  background-color: aquamarine;
  background-image:
    url('../images/lu-seal.png'), /*lu seal */
    url('../images/coral-reef.png'), /* coral reef*/
    url('../images/bubble.png'), /* bubble */
    linear-gradient(0deg, rgb(248, 192, 87) 30%, skyblue 90%); /* gradient */
  background-position:
    left, /*lu seal */
    center, /* coral reef*/
    top; /* bubble */
  background-repeat:
   repeat-x,
   repeat-x,
   repeat-x,
   repeat-x;
  background-size:
    100, /* lu seal */
    900px,  /* coral reef*/
    20px, /* bubble */
    30% 90%; /* gradient */
}

.bird {
  background-color: white;
  background-image:
    url('../images/grass-tile.png'), /* tiled grass */
    url('../images/grass-left.png'), /* left grass */
    url('../images/grass-clump.png'), /* grass clump */
    url('../images/sun.png'), /* sun */
    linear-gradient(0deg, white 30%,skyblue 70%);  /* gradient */
  background-position:
    right,  /* tiled grass */
    bottom, /*left grass */
    bottom left, /* grass clump */
    top left; /* sun */
  background-repeat:
    no-repeat, /* tiled grass */
    no-repeat, /* left grass */
    no-repeat, /* grass clump */
    no-repeat, /* sun */
    no-repeat; /* gradient */
  background-size:
    1300px, /* tiled grass */
    1300px, /* left gass */
    700px, /*grass clump */
    200px, /* sun */
    100% 30%; /* gradient */
}

.seal {
  background-color: rgba(158, 219, 245, 0.096);
  background-image: url('../images/crab.png'),
                    url('../images/palm-2.png'),
                    url('../images/beach-ball.png'),
                    url('../images/palm.png'),
                    url('../images/sun.png'),
  linear-gradient(to top, aquamarine,aqua,white);
  background-position: bottom, top right, left, top right, top left;
  background-repeat: no-repeat;
  background-size: 100px, 700px, 300px, 500px, 250px, contain;
  }
