@charset "utf-8";

.dory {
  background-color: skyblue;
  background-image:
    url('../images/crab.png'), /*crab */
    url('../images/coral-reef.png'), /* coral reef */
    url('../images/bubble.png'), /* bubble */
    url('../images/sun.png'), /* sun */
    linear-gradient(0deg, white 40%,rgb(103, 221, 103) 50%); /* gradient */
  background-position:
    bottom, /*crab */
    center, /* coral reef*/
    left, /* bubble */
    top left; /* sun */
  background-repeat:
   no-repeat, /* crab */
   repeat-x, /* coral reef */
   no-repeat, /* buble */
   no-repeat, /* sun */
   repeat-x;/* gradient */
  background-size:
    200px, /* crab */
    894px,  /* coral reef*/
    100px, /* bubble */
    60px, /* sun */
    50% 80%; /* gradient */
}

.bird {
  background-color: white;
  background-image:
    url('../images/grass-tile.png'), /* tiled grass */
    url('../images/grass-left.png'), /* left grass */
    url('../images/grass-clump.png'), /* grass clump */
    url('../images/sun.png'), /* sun */
    linear-gradient(0deg, white 30%,skyblue 70%);  /* gradient */
  background-position:
    right,  /* tiled grass */
    bottom, /*left grass */
    bottom left, /* grass clump */
    top left; /* sun */
  background-repeat:
    no-repeat, /* tiled grass */
    no-repeat, /* left grass */
    no-repeat, /* grass clump */
    no-repeat, /* sun */
    no-repeat; /* gradient */
  background-size:
    1300px, /* tiled grass */
    1300px, /* left gass */
    700px, /*grass clump */
    200px, /* sun */
    100% 30%; /* gradient */
}

.seal {
  background-color: rgba(158, 219, 245, 0.096);
  background-image: url('../images/crab.png'), /* crab */
                    url('../images/palm-2.png'), /* palm 2 */
                    url('../images/beach-ball.png'), /* beach ball */
                    url('../images/palm.png'), /* palm */
                    url('../images/sun.png'), /* sun */
  linear-gradient(0deg, white 30%, skyblue 70%);
  background-position:
    bottom, /* crab */
    bottom right, /* palm 2 */
     bottom left, /* beach ball */
    bottom left, /* palm */
    top left; /* sun */
  background-repeat:
    no-repeat, /* crab */
    no-repeat, /* palm 2 */
    no-repeat, /* beach ball */
    no-repeat, /* palm */
    no-repeat, /* sun */
    no-repeat; /* gradient */
  background-size:
    90px, /* crab */
    400px, /* palm 2 */
    200px, /* beach ball */
    400px, /* palm */
    100px, /* sun */
    100% 70% ;/* gradient */
  }
