@charset "utf-8";

.dory {
  background-color: lightseagreen;
  background-image: url('../images/coral-reef.png'),
                    url('../images/bubble.png');
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
}

.bird {
background-color: cornsilk;
background-image: url('../images/grass-tile.png'),
                  url('../images/grass-left.png'),
                  url('../images/grass-clump.png'),
                  url('../images/sun.png');
background-position: right, bottom, bottom right, top left;
background-repeat: no-repeat;
background-size: 0, 50cm, 150px, 400;
}

.seal {
  background-color: rgba(158, 219, 245, 0.096);
  background-image: url('../images/crab.png'),
                    url('../images/palm-2.png'),
                    url('../images/beach-ball.png'),
                    url('../images/palm.png'),
                    url('../images/sun.png'),
  linear-gradient(to top, aquamarine,aqua,white);
  background-position: bottom, top right, left, top right, top left;
  background-repeat: no-repeat;
  background-size: 100px, 700px, 300px, 500px, 250px, contain;
  }
