@charset "utf-8";

li:first-child {
  visibility: visible;
}

li:nth-last-of-type(2) {
  visibility: hidden;
}

li:nth-of-type(3) {
  visibility: hidden;
}



td[data-bg-color=blue] {
  display: none;
}

tr:nth-of-type(2n) {
  display: none;
}
span {
  display: none;
}

span {
  opacity: 0.5;
}

