@charset "utf-8";
/* Corners */

section:nth-of-type(1) > div .circle {
  bottom: 0%;
  right: 0%;
  width: 25%;
  position: absolute;
}

section:nth-of-type(1) > div .rect {
  width: 25%;
  position: absolute;
}

section:nth-of-type(1) > div .pipe {
  bottom: 0%;
  width: 25%;
  position: absolute;
}
section:nth-of-type(1) > div .bar {
  left: 75%;
  width: 25%;
  position: absolute;
}

section:nth-of-type(1) > div {
  height: 200px;
  position: relative;
}
