@charset "utf-8";

/* Stacking */

section:nth-of-type(4) > div .circle {
  position: absolute;
  z-index: 1;
}

section:nth-of-type(4) > div .rect {
  position: absolute;
}

section:nth-of-type(4) > div .bar {
  position: absolute;
  z-index: 2;
}

section:nth-of-type(4) > div .pipe {
  position: absolute;
  z-index: 3;
}

section:nth-of-type(4) > div {
  height: 200px;
  position: relative;
}
